/* ToDoList.css */
body {
    text-align: center;
    margin: 0;
}

table {
    width: 80%;
    border: "0";
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    background-color: floralwhite;
}

.content {
    flex-direction: row;
    background-color: lightskyblue;
}

.day {
    width: 150px;
    background-color: lightcyan;
}

.task-content {
    display: flex;
    align-items: center;
    height: 10px;
    padding: 0 8px;
}

.task-content button {
    margin-left: auto;
}

#btn1 {
    padding: 8px;
}

#task {
    padding: 8px;
    margin-bottom: 10px;
}